
@{
    ViewBag.Title = "Calcurate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div>
        <form action="Calcurate/total" methd="post">
            Value 1
            <input type="text" name="value1" />
            <br />
            Value 2
            <input type="radio" value="value2" />
            <br />
            <input type="radio" name ="calci" value="+" />+<br />
            <input type="radio" name ="calci" value="-" />-<br />
            <input type="radio" name ="calci" value="*" />*<br />
            <input type="radio" name ="calci" value="/" />/<br />
            <input type="button" value="count" />
        </form>
    </div>
</body>
<h2>Index</h2>

